div {

   
    border: 5px solid black;
     height: 300px;
     width: 600px;
     box-shadow: 50px 30px 40px red;
     background-color: aqua;
     padding: 5px;
     text-align: center;
     margin-top: 10px;
     padding-top: 150px;
 }